---
#sample config file
version: 0.1
log:
  level: info
  file: /tmp/godoauth.log
storage:
  vault:
    host: localhost
    port: 8200
http:
  timeout: 5s
  addr: :5002
  tls:
    certificate: certs/server.pem
    key: certs/server.key
token:
   issuer: Token
   expiration: 800
   certificate: certs/server.pem
   key: certs/server.key